<!DOCTYPE html>

<html>
    <head>
        <title>404</title>
        <link rel="icon" href="https://d1jfzjx68gj8xs.cloudfront.net/items/1J0Y1N1I441v1E2k3e2W/weather.png?X-CloudApp-Visitor-Id=073a76c3816187ff9953c662300e02d2&v=08920d92">
        <link rel="icon" href="/img/canvas.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>{{message}}</p>
        </div>
        {{>footer}}
    </body>
</html>